@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Pathway+Gothic+One&family=Sacramento&family=Source+Code+Pro&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Katibeh&family=Mouse+Memoirs&family=Pathway+Gothic+One&family=Sacramento&family=Source+Code+Pro&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Katibeh&family=Mouse+Memoirs&family=Pathway+Gothic+One&family=Sacramento&family=Source+Code+Pro&family=Varela+Round&display=swap');
html, body {
  height: 100%;
  width: 100%;
/*   background-color: #F5F5F5; */
/*   background-color: #FEF9FF; */
/*   background-color: #fff7e5; */
  font-size: 20px;
}
* {
  margin: 0px;
  padding: 0px;
}
.content {
  max-width: 70%;
  min-height: 100%;
  margin: auto;
  background-color: #ebf9ff;
}
body {
  font-family: Helvetica, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@import 'https://fonts.googleapis.com/css?family=Raleway';

html, body
{
    margin: 0px;
}




div.container
{
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
	padding: 2em 3em;
	text-align: right;
}

div.container a
{
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    text-decoration: none;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}


/* Top and Bottom borders go out */
div.topBotomBordersOut a:before, div.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(10px);
}

div.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before, div.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}

/* Top and Bottom borders come in */
div.topBotomBordersIn a:before, div.topBotomBordersIn a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersIn a:before
{
    top: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersIn a:after
{
    bottom: 0px;
    transform: translateY(10px);
}

div.topBotomBordersIn a:hover:before, div.topBotomBordersIn a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}

/* Top border go down and Left border appears */
div.topLeftBorders a:before
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 2px;
    height: 0px;
    background: #FFF;
    content: "";
    opacity: 1;
    transition: all 0.3s;
}

div.topLeftBorders a:after
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 1;
    transition: all 0.3s;
}

div.topLeftBorders a:hover:before
{
    height: 100%;
}

div.topLeftBorders a:hover:after
{
    opacity: 0;
    top: 100%;
}

/* Circle behind */

div.circleBehind a:after
{
    border-width: 2px;
    transition: all 0.4s;
}

div.circleBehind a:hover:before
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

div.circleBehind a:hover:after
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}

/* Brackets go out */
div.brackets a:before, div.brackets a:after
{
    position: absolute;
    opacity: 0;
    font-size: 35px;
    top: 0px;
    transition: all 0.3s;
}

div.brackets a:before
{
    content: '(';
    left: 0px;
    transform: translateX(10px);
}

div.brackets a:after
{
    content: ')';
    right: 0px;
    transform: translateX(-10px);
}

div.brackets a:hover:before, div.brackets a:hover:after
{
    opacity: 1;
    transform: translateX(0px);
}


/* Border from Y to X  */
div.borderYtoX a:before, div.borderYtoX a:after
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

div.borderYtoX a:before
{
    left: 0px;
    top: 0px;
}

div.borderYtoX a:after
{
    right: 0px;
    bottom: 0px;
}

div.borderYtoX a:hover:before, div.borderYtoX a:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}

/* Border X get width  */
div.borderXwidth a:before, div.borderXwidth a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

div.borderXwidth a:before
{
    left: 0px;
    top: 0px;
}

div.borderXwidth a:after
{
    right: 0px;
    bottom: 0px;
}

div.borderXwidth a:hover:before, div.borderXwidth a:hover:after
{
    opacity: 1;
    width: 100%;
}

/* Pull down  */
div.pullDown a:before
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullDown a:hover:before
{
    height: 100%;
}

/* Pull up  */
div.pullUp a:before
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullUp a:hover:before
{
    height: 100%;
}

/* Pull right  */
div.pullRight a:before
{
    position: absolute;
    width: 2px;
    height: 100%;
    left: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullRight a:hover:before
{
    width: 100%;
}

/* Pull left  */
div.pullLeft a:before
{
    position: absolute;
    width: 2px;
    height: 100%;
    right: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullLeft a:hover:before
{
    width: 100%;
}

/* Pull up and down  */
div.pullUpDown a:before, div.pullUpDown a:after
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullUpDown a:before
{
    top: 0px;
} 

div.pullUpDown a:after
{
    bottom: 0px;
}

div.pullUpDown a:hover:before, div.pullUpDown a:hover:after
{
    height: 100%;
}

/* Pull right and left  */
div.pullRightLeft a:before, div.pullRightLeft a:after
{
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullRightLeft a:before
{
    left: 0px;
} 

div.pullRightLeft a:after
{
    right: 0px;
}

div.pullRightLeft a:hover:before, div.pullRightLeft a:hover:after
{
    width: 100%;
}

/* Highlight text out  */
div.highlightTextOut a
{
    color: rgba(255, 255, 255, 0.3); 
}

div.highlightTextOut a:before, div.highlightTextIn a:before
{
    position: absolute;
    color: #FFF;
    top: 0px;
    left: 0px;
    padding: 10px;
    overflow: hidden;
    content: attr(alt);
    transition: all 0.3s;
    transform: scale(0.8);
    opacity: 0;
} 

div.highlightTextOut a:hover:before, div.highlightTextIn a:hover:before
{
    transform: scale(1);
    opacity: 1;
}


/* entire navigation bar */
.topnav {
  background-color: #576d37;
  overflow: hidden;
  height: 50px;
  font-family: Poppins;
}



/* CSS */
.button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  margin-top:35px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: clamp(14px, 2vw, 16px);
  line-height: normal;
  min-height: clamp(40px, 8vh, 60px);
  min-width: clamp(120px, 15vw, 200px);
  outline: none;
  padding: clamp(12px, 2vh, 16px) clamp(16px, 3vw, 24px);
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  width: auto;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

.section2{
  display:flex;
  justify-content: row-reverse;
  font-family:'Poppins';
  color: white;
  padding:100px;
  margin:20px;
  margin-left:110px;
  height: 75%;
}

.mainText{
  padding:55px;
  margin-left:57px;
}
.mainh1{
  margin-bottom:20px;
}

/* CSS */
.button-81-2 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top:50px;
}

.button-81-2:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

.mainImageTwo{
  margin-right:168px;
  height:110%;
  width:81%;
  position:relative;
  top:-255px;
}
.mainText2{
  padding:49px;
  margin-left:57px;
  position:relative;
  top:-150px;
}

.section3{
  background:white;
  padding:20px;
  position:relative;
  top:-185px;
}

.sectionThree{
  background:white;
  margin:1px;
}

.mainQuote{
  padding:70px;
  font-size:50px;
  text-align:center;
  font-family: 'Poppins', sans-serif;
}

.section4{
  display:flex;
  justify-content: row-reverse;
  background:white;
  padding:10px;
  align-items:center;
  position:relative;
  top:-275px;
}

.imgSize{
  margin:10px;
  height:20%;
  width:20%;
}
.imgSize1{
  margin:10px;
  height:18%;
  width:18%;
}
.imgSize2{
  margin:10px;
  height:2%;
  width:20%;
}
.imgSize3{
  margin:10px;
  height:50%;
  width:50%;
}

    @media (max-width: 480px) {
      .homepageText {
        margin: 10px;
        padding: 20px;
      }

      h1 {
        font-size: 28px;
      }

      h2 {
        font-size: 20px;
      }

      .button-81 {
        font-size: 0.9rem;
        padding: 0.6rem 1.2rem;
      }
    }

    @media (min-width: 1200px) {
      .homepageText {
        margin: 100px;
        padding: 120px;
      }

      h1 {
        font-size: 72px;
      }

      h2 {
        font-size: 42px;
      }

      .container {
        padding: 2em 4em;
      }

      .section2, .section4 {
        max-width: 1400px;
        margin: 0 auto;
      }

      .mainText {
        padding: 80px;
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }

    @media (min-width: 1600px) {
      .homepageText {
        margin: 120px;
        padding: 150px;
      }

      .container {
        max-width: 1600px;
        margin: 0 auto;
      }
    }
    }

    .mainImageTwo{
      margin-right:168px;
      height:110%;
      width:81%;
      position:relative;
      top:-255px;
    }
    .mainText2{
      padding:49px;
      margin-left:57px;
      position:relative;
      top:-150px;
    }

    .section3{
      background:white;
      padding:20px;
      position:relative;
      top:-185px;
    }

    .sectionThree{
      background:white;
      margin:1px;
    }

    .mainQuote{
      padding:70px;
      font-size:50px;
      text-align:center;
      font-family: 'Poppins', sans-serif;
    }

    .section4{
      display:flex;
      justify-content: row-reverse;
      background:white;
      padding:10px;
      align-items:center;
      position:relative;
      top:-275px;
    }

    .imgSize{
      margin:10px;
      height:20%;
      width:20%;
    }
    .imgSize1{
      margin:10px;
      height:18%;
      width:18%;
    }
    .imgSize2{
      margin:10px;
      height:2%;
      width:20%;
    }
    .imgSize3{
      margin:10px;
      height:50%;
      width:50%;
    }

     .button-81 {
        background-color: #fff;
        border: 0 solid #e2e8f0;
        border-radius: 1.5rem;
        box-sizing: border-box;
        color: #0d172a;
        cursor: pointer;
        display: inline-block;
        font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 10px;
        line-height: 1;
        padding: 1rem 1.6rem;
        text-align: center;
        text-decoration: none #0d172a solid;
        text-decoration-thickness: auto;
        transition: all .1s cubic-bezier(.4, 0, .2, 1);
        box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }

      .button-81:hover {
        background-color: #1e293b;
        color: #fff;
      }
    @media (min-width: 768px) {
        .button-81 {
        font-size: 1.125rem;
        padding: 1rem 2rem;
    }
